/* .a{
    height: 500px;
    width: 600px;
} */
.b{
    height: 100px;
    width: 100px;
}
.c{
    height: 100px;
    width: 400px;
}
.d{
    height: 50px;
    width: 100px;
}
.e{
    height: 50px;
    width: 50px;
}
.f{
    height: 300px;
    width: 100px;
}
.g{
    height: 100px;
    width: 500px;
}
.h{
    height: 200px;
    width: 50px;
}
.i{
    height: 300px;
    width: 100px;
}
.j{
    height: 100px;
    width: 300px;
}
.k{
    height: 100px;
    width: 100px;
}
.l{
    height: 200px;
    width: 100px;
}
.m{
    height: 200px;
    width: 50px;
}
.n{
    height: 100px;
    width: 100px;
}
.o{
    height: 100px;
    width: 50px;
}
.p{
    height: 100px;
    width: 50px;
}
.q{
    height: 100px;
    width: 100px;
}
